.order-history-item{    
  
    border-radius: 5px;
   position: relative;  
   margin: 10px;
   align-items: center;
   justify-content: space-between;    
   padding: 2px;
  // -webkit-box-shadow: 0px 0px 5px 0px rgba(254, 254, 254, 0.47);
  //        -moz-box-shadow: 0px 0px 5px 0px rgba(254, 254, 254, 0.47);
  //        box-shadow: 0px 0px 0px 3px rgba(254, 254, 254, 0.297);
      
//border: solid 1px rgb(20, 34, 155);
   &.pendiente{
       background-color: rgb(255, 255, 255);      
   }

   &.entregado{
 //   box-shadow: 0px 0px 5px 3px rgb(116, 116, 116);
    background-color: rgb(6, 126, 6);   
   }

   &__time{
       position: absolute;
       top: 6px;
       right: 3px;
       background-color: rgb(180, 2, 2);
       padding: 0px 5px;
       border-radius: 5px; 
        
       h4{
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: unset;
       }   
   
   
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     text-align: unset;
   
   
     max-width: 70%;
       
   }

   &__product{
    padding: 3px;
       display: flex;
       align-items: center;
       background-color: rgb(28, 30, 45);
       
       img{
         height: 12vh;       
            width: 15vh;     
            border-radius: 5px;
            object-fit: cover;
            object-position: center center; 
       }
       
   }

   p{
       margin: 0;
       font-weight: bold;
      
   }
   h5, h6{
    padding: 0 10px;
    font-weight: bold;
   
}

}