.order-history-item{
    border: solid 1px black;
   position: relative;
   padding: 20px;
   margin: 50px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;

   &.pendiente{
       background-color: rgb(255, 220, 155);
   }
   &.entregado{
       background-color: rgb(183, 255, 115);
   }

   &__time{
       position: absolute;
       top: -18px;
       right: 10px;
       background-color: #fff;
       padding: 5px 20px;
       border: 1px silver solid;
   }

   &__product{
       display: flex;
       align-items: center;
   }

   p{
       margin: 0;
       font-weight: bold;
      
   }

}