.table-sauces-admin {
  display: grid;
  gap: 0.6rem;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 0.5fr));

  .cart {
    position: relative;
  }

  .menu_links {
    position: absolute;
    width: 0px;
    z-index: 1;
    background-color: #2a2e59d8;
    right: 2px;
    top: 10px;
    transition: 0.3s;
    border-radius: 5px;

    svg {
      background-color: #2a2e59;
      border-radius: 50%;
      position: absolute;
      right: 5px;
      top: 2px;
    }
    &:hover {
      width: 90%;
    }
  }

  &__sauce {
    .card-body {
      color: #ffffff;
      font-weight: 600;
      border-radius: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: unset;
      background-color: #2a2e59;
      text-transform: uppercase;
    }
  }
}
