
.button-menu {
  display: flex;
  justify-content: center;
  background-color: #f2b63d;
  h6 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
}




.header-page-admin {
  display: flex;
  justify-content: space-between;
  background-color: #f2b63d;
  padding: 0.3rem;

  .btn-header-page {
    display: flex;

    svg {
      display: flex;
      align-items: center;
      font-size: 25px;
      color: #1f2126;
    }

    .my-btn {
      display: flex;
      align-items: center;
      text-align: center;
      border-radius: 0.5rem;
      box-shadow: 2px 3px 5px rgba(3, 3, 3, 0.4);
      padding: 0.5rem;
      border: solid 1px #ffffff;
      margin: 0.1rem;
      height: 3rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
