.footer-admin{
   padding: 0 30px;
    display: flex;
    border-top: 5px solid #282828;; 
    background-color: rgb(133, 2, 2);
    text-align: center;
    justify-content: space-between;
    color: rgb(255, 251, 240);
    font-size: 10px;
   
      
}