.top-menu-admin {
  &__car {
    display: flex;

    .btn {
      background-color: #2a2e59;
      display: flex;
      align-items: center;
      text-align: center;
      border-radius: 0.5rem;
      box-shadow: 2px 3px 5px rgba(3, 3, 3, 0.4);
      padding: 0.5rem;
      margin-right: 5px;
      transition: all 0.4s ease;
      border-bottom: solid 1px white;
      color: #f2b63d;

      &:hover {
        cursor: pointer;
        color: #2a2e59;
        background-color: #f2b63d;
        box-shadow: 2px 3px 5px rgba(45, 58, 89, 0.878);
      }
    }

    span {
      color: #1f2126 !important;
    }

    .car {
      display: flex;
      p {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        background-color: #2a2e59;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        top: -0.3rem !important;
        padding: 0.6rem;
      }
    }
  }
}
