.add-edit-user-form{

    label{
        color: azure;
    }
    font: 100;

    .btn-send {
        color: white;
        margin-top: 15px;
        padding: 5px;
        border-radius: 0.5rem;
        text-align: center;
        font-size: 20px;
        box-shadow: 0px 1px 1px 1px rgb(255, 247, 0);
    }
}