.table-product-admin {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 0.5fr));

  justify-content: center;

  .cart {
    position: relative;
    background-color: #f2b63d;
    color: #2a2e59;
    border-radius: 0.3rem;

    .card-img {
      min-height: 20vh;
      object-fit: cover;
      object-position: center center;
      aspect-ratio: 1/1;
    }
    .card-body {
      padding: 0.1rem 0.2rem;
      min-width: 100%;
      text-align: center;
      .card-title {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .card-subtitle {
        color: rgb(255, 255, 255);
        font-weight: 800;
        font-size: 18px;
      }
    }
  }

  .menu_links {
    position: absolute;
    width: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: #2a2e59ca;
    padding: 0.5rem 0;
    right: 2px;
    top: 5px;
    transition: 0.3s;
    border-radius: 5px;

    svg {
      background-color: #2a2e59bd;
      border-radius: 50%;
      position: absolute;
      right: 5px;
      top: 2px;
    }

    &:hover {
      width: 90%;
    }
  }
}

.actions {
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: unset;
    margin: 0 10px 0 0;

    &:hover {
      border-bottom: 1px solid red;
      background-color: #2a2e59;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 20px 10px;
  //  align-items: center;

  input {
    background-color: #2a2e59;
    border: 0;
    border-bottom: 1px solid red;
    border-radius: 0;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    margin-right: 10px;
    width: 220px;
    font-size: 20px;
    transition: 0.7s;

    &:focus {
      width: 270px;
    }
  }
}
