

.table_admin{
 background-color: #f9f9f910;
  border-radius: 3PX;
  height: 12rem;

  box-shadow: 0px 1px 1px 1px rgba(238, 241, 237, 0.227);

   .head{   
    display: flex;
    justify-content: space-between;   
    padding: 3px 5px;
    background-color: rgba(43, 40, 61, 0.491);
    color: aliceblue;     
  border-radius: 3px 3px 0 0;
  border-bottom: solid rgba(245, 245, 245, 0.115) 1px;
    label{       
        font-size: 10px;    
        color: rgba(243, 246, 248, 0.748);   
        font-weight: bold;
        border: solid 1px rgba(255, 255, 255, 0.321);
        background-color: rgba(240, 248, 255, 0.275);
         
       width: 80px;           
        padding: 5px;             
        border-radius: 5px;
        white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: unset;                  
      text-transform: uppercase;     
      
    }   
    
    p{
        font-size: 10px;  
        max-width: 80px;           
        padding: 5px;  
        white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: unset;                  
      text-transform: uppercase;  
      
    }
    
  h6{
    display: flex;
    background-color: black;
    padding: 3px;
    border-radius: 5px;  
    min-width: 20px;
    max-width: 40px;     
    justify-content: center;
    border-bottom: 3px solid yellow;
    
  }
}

.cuenta{ 
 
    text-align: center;
   background-color: rgba(255, 243, 5, 0.926);
   // border: solid 1px rgba(255, 255, 0, 0.363);
    border-radius: 0 0 0px 30px;
    label{
        color: rgb(40, 49, 68);
        
        
    }
}

    article{           
        .icon-table{
            display: flex;
            justify-content: center;            
            svg{
                color: rgba(240, 224, 4, 0.549);                
            }
        }
        
       .pendiente{
           text-align: center;
           color: yellowgreen;
       }
    }

    &:hover{
        transform: translateY(-5px);
        transition: all .1s ease-in-out;
    }

   

   .orders{      
     
   }

    svg{       
        //  padding:5px;     

          width:80px;
          height:100px;  
    }   


    &_free{  
          svg{         
            fill-opacity: 0;             
        }     
    }

    &_delivery{       
      //  box-shadow: 0px 1px 1px 1px rgb(33, 36, 115);
            svg{         
              fill-opacity: 1;           
          }     
    }
    
    &_pending{  
    //    box-shadow: 0px 1px 1px 1px rgb(33, 36, 115);
            svg{         
              fill-opacity: 1;             
          }          
    }
    
}







