.sidebar{
    position: fixed;    
    height: 100%;
    width: 2.5rem;
    background-color: #2a2e59;
    transition: all 0.5s ease;
    z-index: 9;
    margin: 0 !important;
   
}

.sidebar.active{    
    width: 8rem;
    
}

.sidebar .logo_content .logo{
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}


.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
    transition: all 2.0s ease;
}

.logo_content{
    
 .btn-menu{
    background-color: #f2b63d;
    padding: 1.047rem;
 }
}

// .logo_content .logo{
//     font-size: 28px;
//     margin-right: 5px;
// }

// .logo_content .logo .logo_name{
//     font-size: 20px;
//     font-weight: 300;
// }

.logo_content .nav_list{
    padding: 0;
    margin-left: 0.5rem;
    
}

.sidebar #btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #1f2126;
    box-shadow: 2px 3px 5px rgba(3, 3, 3, 0.4);
    top: 6px;
    left: 50%;
    font-size: 20px;
    height: 3rem;
    padding: 0.5rem;
    // line-height: 50px;
    transform: translateX(-50%);   
    transition: all 0.5s ease;
    border: solid 1px #ffffff;
    border-radius: 0.5rem;
    
    &:hover{       
        cursor: pointer;
    }
   
}

.sidebar.active #btn{
    left: 85%; 
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;  
}

.sidebar ul li{
  
    // height: 50px;
    // width: 100%;    
    list-style: none;
    // line-height: 50px;
}

.sidebar ul li .a{
    color: #f2b63d;
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 0.5rem;
    border-bottom: solid 1px;    
    margin: 0.5rem 0;
    box-shadow: 2px 3px 5px rgba(115, 148, 225, 0.878);
}

.sidebar ul li .a:hover{
    background-color: #f2b63d;
    color: #1f2126;
}


.sidebar ul li i{      
    padding: 0 5px 0 0;
    text-align: center;
}


.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;

}
.sidebar.active .logo_content .link{
    padding-right: 10px;
  }
  
.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .link i svg{
    height: 1.7rem;
    width: 30px;
    padding: 0.2rem;
  //  margin-right: 30px;
}

.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background-color: #1d1b31;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    
}

.profile .profile_details svg{
height: 45px;
width: 45px;
object-fit: cover;
border-radius: 12px;
background-color: #11101d;

}

.profile .profile_details .name_job{
    margin-left: 10px;
   
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
    margin: 10px 0;
}

.profile .profile_details .name_job .name{
    font-size: 15px;
    font-weight: 600;
    
}

.profile .profile_details .name_job .job{
    font-size: 12px;    
}

.profile #log_out{
    position: absolute;
    left: 50%;
    width: 40px;
    bottom: 5px;
    transform: translateX(-50%); 
    line-height: 50px;  
    font-size: 20px;
    border-radius: 12px;
   // background-color: rgba(14, 75, 0, 0.961);
    text-align: center;
    cursor: pointer;
    
}


   