p,h1,h2,h3,a{
    margin: 0;    
    padding: 0;
    text-decoration: none !important;
    font-family: "Poppins", sans-serif;
  //  color: rgb(255, 255, 255) !important;

}


.all-header{    
   
}

.all-container{

}

.all-title{      
    font-size: 20px;
    color: rgb(184, 183, 174);
}

.header-page{  
    position: fixed;  
   width: 97%;  
   z-index: 3;   
}

.containerBody{
    padding-top: 4rem;
}