.cart-no-products{
    padding: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;

    h5{
        border: 1px solid rgb(242, 127, 13);
        width: 10rem;
        border-radius: 5px;
        padding: 10px;              
    }
}

.content-order-history{
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));  
    //gap: 1px;
   // justify-content: center;
   background-color: aliceblue;
   border-radius: 5px;
   margin: 10px;
}

