.cart-no-products{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;

    h5{
        border: 2px solid rgb(242, 127, 13);
        width: 10rem;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        
    }
}