.list-order {
  &__content {
    background-color: #2a2e59;
    border-radius: 0.5rem;
    margin: 1rem;

    &-header {
      padding: 0.5rem;
      background-color: #f2b63d;
      border-radius: 0.5rem 0.5rem 0 0;

      label {
        font-size: 1.2em;
        color: rgb(240, 248, 255);
      }
    }
    .actions-orders {
      display: flex;
      justify-content: center;
      text-align: center;

      .button-action {
        color: rgba(255, 243, 240, 0.596);
        padding: 3px 20px;
        margin: 0.5rem;
        border-radius: 0.5rem;
        //   box-shadow: 5px 5px 1px 0px rgb(18, 18, 35);
        border: solid 1px;
        &:hover {
          background-color: rgba(255, 238, 4, 0.093);
        }
      }
    }
  }

  &__item {  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

  }
}
