.list-order {
  &__content {
    background-color: #2a2e59;
    border-radius: 0.5rem;
    margin: 1rem;

    .list-order__item {
      border: 2px solid  rgb(75, 89, 136);
      padding: 1rem;
     
      border-radius: 0.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr)); 
      gap: 2rem;
     
    }

   

    &-header {
      padding: 0.5rem;
      background-color: #f5f5f821;
      border-radius: 0.5rem 0.5rem 0 0;

      label {
        font-size: 1.2em;
        color: rgb(240, 248, 255);
      }
    }
    .actions-orders {
      display: flex;
      justify-content: center;
      text-align: center;

      button{

        margin: 0.5rem;
      }
    }
  }
}
